aside.col-sm-4
  article.sidebar
    h1.sidebar-title Who should come?
    ul.sidebar-body
      li Anybody interested in art and the creative industry
      li Painters, sculptors, photographers and graphic artists
      li
        | Those interested in meeting and making a connection with others in the local art scene.
  // article
  article.sidebar
    include artwork